<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <% include header.ejs %>
    <% if(user) { %>
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Welcome</h2>
                </div>
                <div class="panel-body">
                    <%= user.name %> <%= user.surname %>
                </div>
            </div>
        </div>
  <% } %>
  </body>
</html>
